// 폰트 변수 
$title-fomt: 'Cafe24Danjunghae';
$nomal-font: 'Cafe24Simplehae';

$big-font: 38px;
$midium-font: 16px;
$small-font: 14px;

// 색상 변수
$dark: #333;
$gray: #ccc;
$light-gray: #eee;

.find {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        font-family: $title-fomt;
        font-size: $big-font;
        margin-bottom: 10px;
    }
    .find_box {
        font-family: $nomal-font;
        font-weight: bold;
        border: 1px solid $gray;
        border-radius: 10px;
        width: 30%;
        height: 260px;
        margin-top: 10px;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        p {
            font-size: $midium-font;
        }
        .find_table {
            border-collapse: collapse;
            width: 100%;
            height: 100px;
            margin: 20px auto;
            input {
                width: 85%;
                border: 0;
                outline: 0;
                border-bottom: 2px solid $gray;
                padding: 8px;
                font-family: $nomal-font;
                font-size: $small-font;
                font-weight: bold;
                letter-spacing: 1.2px;
            }
        }
        .find_btn {
            button {
                font-family: $nomal-font;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                background-color: $light-gray;
                box-shadow: 3px 3px rgba($color: $dark, $alpha: 1.0);
                padding: 8px 22px;
                margin: 0 10px;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    background-color: $gray;
                }
            }
        }
    }
}