// 폰트 변수 
$title-fomt: 'Cafe24Danjunghae';
$nomal-font: 'Cafe24Simplehae';

$big-font: 38px;
$midium-font: 16px;
$small-font: 14px;

// 색상 변수
$dark: #333;
$gray: #ccc;
$light-gray: #eee;

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        font-family: $title-fomt;
        font-size: $big-font;
        margin-bottom: 10px;
    }
    .login_zone {
        font-family: $nomal-font;
        border: 1px solid $gray;
        border-radius: 10px;
        width: 25%;
        height: 300px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .login_table {
            border-collapse: collapse;
            width: 100%;
            height: 100px;
            margin: 20px auto;
            input {
                width: 80%;
                border: 0;
                outline: 0;
                border-bottom: 2px solid $gray;
                padding: 8px;
                font-family: $nomal-font;
                font-weight: bold;
            }
        }
        .login_btns {
            margin: 20px 0;
            button {
                font-family: $nomal-font;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                background-color: $light-gray;
                box-shadow: 3px 3px rgba($color: $dark, $alpha: 1.0);
                padding: 16px 48px;
                margin: 0 8px;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    background-color: $gray;
                }
            }
        }
        .find_zone {
            font-weight: bold;
            margin: 10px 0;
            span {
                font-size: $small-font;
                padding: 0 5px;
            }
            .pointer {
                cursor: pointer;
            }
        }
    }
}