// 폰트 변수 
$title-fomt: 'Cafe24Danjunghae';
$nomal-font: 'Cafe24Simplehae';

$big-font: 36px;
$midium-font: 24px;
$small-font: 14px;

// 색상 변수
$dark: #333;
$gray: #ccc;
$light-gray: #eee;

.write {
    width: 100%;
    margin-top: 80px;
    .write_zone {
        width: 100%;
        height: 836px;
        overflow: scroll;
        .title_input {
            width: 100%;
            padding: 20px 15px;
            margin: 80px 0 20px 0;
            border: 0;
            outline: 0;
            color: inherit;
            font-weight: bold;
            border-bottom: 2px solid $gray;
            font-size: $big-font;
            font-family: $title-fomt;
            letter-spacing: 1.6px;
            white-space: pre-line;
        }
        ::-webkit-input-placeholder {
            font-size: $big-font;
            font-weight: lighter;
        }
        // 텍스트 편집기 스타일
        .ck.ck-editor__top {
            position: fixed;
            top: 0;
            left: 24%;
            width: 52%;
            padding: 21px;
            border-left: 1px solid $light-gray;
            border-right: 1px solid $light-gray;
            z-index: 6;
        }
        .ck.ck-toolbar {
            border: 0;
            background: none;
        }
        .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
            border: 0;
        }
        .ck.ck-editor__editable {
            h2, h3, h4, p {
                font-family: $nomal-font;
                line-height: 1.6;
            }
        }
        .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
            border: 0;
            box-shadow: none;
        }   
    }
    .footer {
        width: 100%;
        height: 70px;
        background-color: $light-gray;
        position: fixed;
        bottom: 0;
        left: 0;
        font-family: $nomal-font;
        nav {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                border-left: 1px solid $gray;
                border-right: 1px solid $gray;
                span {
                    line-height: 70px;
                    font-size: $small-font;
                    font-weight: bold;
                    padding-left: 20px;
                    color: $dark;
                }
                .check_icon {
                    font-size: $midium-font;
                    vertical-align: middle;
                    margin: 0 20px 0 2px;
                    color: $dark;
                }
            }
            .write_btn {
                button {
                    font-family: $nomal-font;
                    font-weight: bold;
                    letter-spacing: 1px;
                    border: none;
                    border-radius: 20px;
                    transition: 0.3s;
                    cursor: pointer;
                }
                .ok_btn {
                    background-color: $dark;
                    color: #fff;
                    padding: 14px 28px;
                    &:hover {
                        background-color: #67D5B5;
                    }
                }
                .exit_btn {
                    background-color: #fff;
                    color: $dark;
                    padding: 14px 28px;
                    margin-left: 16px;
                    &:hover {
                        background-color: #F16B6F;
                    }
                }
            }
        }
    }
}