// 폰트 변수 
$title-fomt: 'Cafe24Danjunghae';
$nomal-font: 'Cafe24Simplehae';

$big-font: 38px;
$midium-font: 18px;
$small-font: 12px;

// 색상 변수
$dark: #333;
$gray: #ccc;
$light-gray: #eee;

.post_zone {
    margin-top: 120px;
    height: auto;
    .head_zone {
        margin-bottom: 30px;
        padding: 30px 20px 0 20px;
        text-align: center;
        border-bottom: 1px solid $gray;
        h1 {
            font-size: $big-font;
            line-height: 1.2;
        }
        nav {
            font-family: $nomal-font;
            font-size: $small-font;
            font-weight: bold;
            margin: 20px 0 30px 0;
            span {
                padding: 0 4px;
            }
            .click_sp {
                cursor: pointer;
            }
        }
    }
    .desc_zone {
        height: auto;
        padding: 0 20px 30px 20px;
        line-height: 2;
        letter-spacing: 1.2px;
        font-family: $nomal-font;
        border-bottom: 1px solid $gray;
        p {
            padding: 10px 0;
        }
    }
    .commend_zone {
        width: 100%;
        margin: 30px 0;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        font-family: $nomal-font;
        font-weight: bold;
        .commend_open {
            display: flex;
            align-items: center;
            .commend_count {
                margin: 0 3px;
            }
        }
        .commend_list {
            width: 100%;
            height: auto;
            margin-top: 10px;
            transition: 0.3s;
            color: $dark;
            li {
                width: 100%;
                height: auto;
                background-color: $light-gray;
                border-radius: 5px;
                margin: 10px 0;
                padding: 15px 10px;
                .commend_info {
                    display: flex;
                    align-items: center;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid $gray;
                    }
                    span {
                        margin-left: 8px;
                    }
                }
                .commend {
                    margin: 15px 0 10px 0;
                    padding: 0 10px;
                    p {
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 1.5;
                    }
                    
                }
                .commend_modify {
                    font-size: $small-font;
                    text-align: end;
                    color: #555;
                    span {
                        padding-left: 5px;
                    }
                }
            }
        }
        .close_list {
            height: 0;
            transition: 0.3s;
            li {
                height: 0;
                opacity: 0;
            }
        }
    }
}