// 폰트 변수 
$title-fomt: 'Cafe24Danjunghae';
$nomal-font: 'Cafe24Simplehae';

$big-font: 28px;
$midium-font: 18px;
$small-font: 16px;

// 색상 변수
$dark: #333;
$gray: #ccc;
$light-gray: #eee;

.postslist {
    margin-top: 130px;
    font-family: $nomal-font;
    height: auto;
    h2 {
        font-family: $title-fomt;
        font-size: 24px;
        text-align: center;
        margin: 50px 0;
    }
    .posts_box {
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .posts {
            height: 250px;
            margin: 15px;
            padding-bottom: 30px;
            border-bottom: 2px solid $light-gray;
            display: flex;
            transition: 0.3s;
            .img_zone {
                padding: 10px;
                img {
                    width: auto;
                    height: 200px;
                    border-radius: 20px;
                    transition: 0.3s;
                    border: 1px solid $gray;
                }
            }
            .text_zone {
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3 {
                    font-size: $big-font;
                }
                p {
                    font-size: $midium-font;
                    height: 60%;
                    line-height: 1.1;
                    overflow: hidden;
                }
                nav {
                    .bold {
                        font-weight: bold;
                    }
                    span {
                        font-size: $small-font;
                        padding-right: 5px;
                        color: $dark;
                    }
                }
            }
            &:hover {
                border-bottom: 2px solid $dark;
                .img_zone {
                    img {
                        border-radius: 0%;
                    }
                }
                .text_zone {
                    h3 {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
