// 폰트 변수 
$title-fomt: 'Cafe24Danjunghae';
$nomal-font: 'Cafe24Simplehae';

$big-font: 22px;
$midium-font: 20px;
$small-font: 12px;

// 색상 변수
$dark: #333;
$gray: #ccc;
$light-gray: #eee;

.share {
    width: 60px;
    height: 130px;
    border-radius: 30px;
    background-color: $light-gray;
    position: fixed;
    top: 33%;
    left: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .share_btn {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 2px;
        transition: 0.3s;
        cursor: pointer;
        .share_icon {
            font-size: $midium-font;
        }
        &:hover {
            box-shadow: 0 0 5px;
        }
    }
    .vertical_menu {
        position: fixed;
        top: 30%;
        left: 22%;
        li {
            button {
                width: 46px;
                height: 46px;
                border-radius: 50%;
                background-color: #fff;
                border: 0;
                outline: 0;
                font-family: $nomal-font;
                font-weight: bold;
                font-size: $small-font;
                letter-spacing: 1.5px;
                box-shadow: 0 0 2px;
                cursor: pointer;
                &:hover {
                    box-shadow: 0 0 5px;
                }
            }
            .vertical1 {
                position: fixed;
                top: 27%;
                left: 19%;
                .modify_icon {
                    position: absolute;
                    top: 28%;
                    left: 28%;
                    opacity: 0;
                    transition: 0.3s;
                    font-size: $midium-font;
                }
                span {
                    position: absolute;
                    top: 36%;
                    left: 26%;
                    transition: 0.3s;
                }
                &:hover {
                    .modify_icon {
                        opacity: 1;
                    }
                    span {
                        opacity: 0;
                    }
                }
            }
            .vertical2 {
                position: fixed;
                top: 31%;
                left: 21.5%;
                .trash_icon {
                    position: absolute;
                    top: 28%;
                    left: 28%;
                    opacity: 0;
                    transition: 0.3s;
                    font-size: $midium-font;
                }
                span {
                    position: absolute;
                    top: 36%;
                    left: 26%;
                    transition: 0.3s;
                }
                &:hover {
                    .trash_icon {
                        opacity: 1;
                    }
                    span {
                        opacity: 0;
                    }
                }
            }
        }
    }
    .share_menu {
        position: fixed;
        top: 48%;
        left: 20%;
        li {
            button {
                width: 46px;
                height: 46px;
                border-radius: 50%;
                background-color: #fff;
                border: 0;
                outline: 0;
                font-family: $nomal-font;
                font-weight: bold;
                font-size: $small-font;
                letter-spacing: 1.5px;
                box-shadow: 0 0 2px;
                cursor: pointer;
                &:hover {
                    box-shadow: 0 0 5px;
                }
                .share_icon2 {
                    font-size: $big-font;
                }
            }
            .share1 {
                position: fixed;
                top: 40.2%;
                left: 21.8%;
                transition: 0.3s;
                &:hover {
                    background-color: #00BFFF;
                }
            }
            .share2 {
                position: fixed;
                top: 46%;
                left: 20.5%;
                transition: 0.3s;
                &:hover {
                    background-color: #fae100;
                }
            }
            .share3 {
                position: fixed;
                top: 47.5%;
                left: 17.5%;
                transition: 0.3s;
                &:hover {
                    background-color: rgb(199, 156, 199);
                }
            }
        }
    }
}