* {padding: 0; margin: 0; box-sizing: border-box; list-style: none;}

a {text-decoration: none; color: inherit;}

@font-face {
  font-family: 'Cafe24Danjunghae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Simplehae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }
 
body {
  letter-spacing: 1.5px;
  font-family: 'Cafe24Danjunghae', 'Cafe24Simplehae', sans-serif;
  color: #333; 
  cursor: default; 
  // 다크모드 버튼
  .mode_btn {
    button {
      position: fixed;
      bottom: 15px;
      right: 20px;
      width: 40px;
      height: 40px;
      border: 0;
      outline: 0;
      background-color: #fff;
      border: 2px solid #ccc;
      border-radius: 50%;
      box-shadow: 2px 2px 5px #ccc;
      transition: 0.3s;
      cursor: pointer;
      .mode_icon {
          font-size: 18px;
      }
      &:hover {
          background-color: #333;
          color: #fff;
      }
    }
  }
  .up_btn{
    button {
      position: fixed;
      bottom: 65px;
      right: 20px;
      width: 40px;
      height: 40px;
      border: 0;
      outline: 0;
      background-color: #fff;
      border: 2px solid #ccc;
      border-radius: 50%;
      box-shadow: 2px 2px 5px #ccc;
      transition: 0.3s;
      cursor: pointer;
      .up_icon {
          font-size: 24px;
      }
      &:hover {
          background-color: #333;
          color: #fff;
      }
    }
  }
}

.inner {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.inner2 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* 스크롤바 설정*/
::-webkit-scrollbar{
  width: 10px;
}

/* 스크롤바 막대 설정*/
::-webkit-scrollbar-thumb{
  background-color: #333;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;    
}